body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 340px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 12px;
}

.card h2 {
    margin: 10px 0;
    font-size: 22px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.like {
    background: #ff4d6d;
    color: white;
}

.dislike {
    background: #444;
    color: white;
}
